$primaryDark: #000000;
$primaryMedium: #1a1a1a;
$secondary: #f26b38;
$fontMedium: #464646;
$fontDark: #43464b;
$fontLight: #a0a3a7;
$ipadWidth: 768px;
$mediumWidth: 992px;
$windowWidth: 1200px;

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
