@import '../../../../../assets/scss/default';

.hotMovieContain {
  padding: 20px 0;
  .hotMovieTitle {
    border-bottom: 1px solid #ddd;
    h3 {
      color: $fontDark;
      display: inline-block;
      margin: 0;
      font-size: 0.875rem;
      font-weight: 400;
      &::after {
        margin-top: 10px;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $secondary;
      }
    }
  }

  .hotMovieWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 40px 0;

    .hotMovieBox {
      width: 100%;
      height: 100%;
      .hotMoviePic {
        position: relative;
        height: 85%;
        &:hover img {
          filter: brightness(50%);
        }
        &:hover button {
          opacity: 1;
        }

        img {
          transition: filter 0.3s;
          width: 100%;
          height: 100%;
        }

        button {
          opacity: 0;
          position: absolute;
          bottom: 10%;
          left: 50%;
          transform: translate(-50%, 0);
          transition: border, background 0.3s;
          font-size: 0.75rem;
          color: #fff;
          background-color: transparent;
          padding: 7px 10px;
          border: 1px solid #fff;
          margin-bottom: 20%;
          &:hover {
            border: 1px solid $secondary;
            background-color: $secondary;
          }
        }
      }

      .hotMovieName {
        padding: 5px 0;
        height: 15%;
        p {
          text-transform: uppercase;
          margin: 0;
          font-size: 0.875rem;
        }
      }
    }
  }
}

@media screen and(min-width: $ipadWidth) {
  .hotMovieContain {
    .hotMovieWrapper {
      grid-template-columns: 1fr 1fr 1fr;
      .hotMovieBox {
        .hotMoviePic {
          button {
            padding: 13px 30px;
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}

@media screen and(min-width: $mediumWidth) {
  .hotMovieContain {
    .hotMovieTitle {
      h3 {
        font-size: 1.2rem;
      }
    }
    .hotMovieWrapper {
      .hotMovieBox {
        .hotMovieName {
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
