@import '../../../../assets/scss/_default.scss';
.movieDetailContain {
  margin-top: 50px;

  .movieDetailPicContain {
    text-align: center;
    .btnPicBox {
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      width: 65%;
      height: 100%;

      img {
        width: 100%;
      }
      .loadingMovie {
        width: 100%;
        height: 350px;
      }
      button {
        transition: background 0.3s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid #fff;
        font-size: 2.5rem;
        padding-left: 5px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .movieInfo {
    margin-top: 15px;
    color: $fontDark;

    .danhGia {
      .fontStar {
        color: rgb(255, 225, 0);
      }

      p {
        padding: 5px;
        font-weight: 500;
        display: inline-block;
        color: $fontLight;
        font-size: 0.75rem;
        span {
          font-size: 0.875rem;
          color: $fontDark;
        }
      }
    }

    h2 {
      line-height: 1.6rem;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.125rem;
      div {
        width: 70%;
        height: 20px;
      }
    }
    h4 {
      margin-top: 10px;
      line-height: 2rem;
      display: inline-block;
      font-size: 0.875rem;
      font-weight: 600;
      padding-bottom: 10px;

      &::after {
        display: block;
        content: '';
        height: 2px;
        width: 50%;
        background-color: $secondary;
      }
    }
    .noiDung {
      text-align: justify;
      font-size: 0.875rem;

      span {
        display: block;
        width: 100%;
        height: 10px;
        margin: 5px 0;
      }
    }
  }

  .sideMovies {
    h3 {
      line-height: 2.5rem;
      display: inline-block;
      font-size: 1.13rem;
      &::after {
        display: block;
        content: '';
        height: 2px;
        width: 40%;
        background-color: $secondary;
      }
    }

    .sideMoviesContain {
      padding-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      .moviesEach {
        height: 100%;
        text-decoration: none;
        color: $fontDark;
      }

      img {
        height: 72%;
        width: 100%;
      }

      p {
        height: 28%;
        display: block;
        margin: 0;
        font-size: 0.875rem;
        // color: ?;
      }
    }
  }

  .containXemThem {
    text-align: right;
    font-size: 0.75rem;

    button,
    .arrowRight {
      color: $secondary;
    }

    button {
      border: 1px solid $secondary;
      padding: 10px;
    }
    .arrowRight {
      margin-left: 5px;
    }
  }
}

@media screen and(min-width: $ipadWidth) {
  .movieDetailContain {
    .movieDetailPicContain {
      text-align: left;
      .btnPicBox {
        margin-left: 50px;
        width: 40%;

        .loadingMovie {
          height: 250px;
        }
      }
    }

    .movieInfo {
      .danhGia {
        p {
          font-size: 1.15rem;
          span {
            font-size: 1.15rem;
          }
        }
      }

      h4 {
        font-size: 1.15rem;
      }
    }

    .containXemThem {
      button,
      .arrowRight {
        font-size: 0.875rem;
      }

      button {
        padding: 10px 20px;
      }
    }
  }
}

@media screen and(min-width: $mediumWidth) {
  .movieDetailContain {
    .movieDetailWrapper {
      .movieDetailPicContain {
        .btnPicBox {
          margin: 0;
          width: 90%;
          .loadingMovie {
            height: 350px;
          }
        }
      }
    }

    .movieInfo {
      h2 {
        font-size: 1.63rem;
        line-height: 2rem;
      }
    }

    .sideMovies {
      .sideMoviesContain {
        img {
          height: 83%;
          width: 100%;
        }

        p {
          height: 17%;
          display: block;
          margin: 0;
          font-size: 1rem;
        }
      }
    }
  }
}
