@import '../../../../../assets/scss/default';

.onTrailer {
  visibility: unset;
  transform: translate(-50%, 0);
  opacity: 1;
}

.offTrailer {
  visibility: hidden;
  transform: translate(-50%, -20%);
  opacity: 0;
}

#carouselExampleIndicators {
  .carousel-indicators {
    display: none;
    .carouselSlide {
      transition: none;
      background: rgba(15, 15, 15, 0);
      border: 1px solid white;
      width: 7px;
      height: 7px;
      border-radius: 7px;
    }
    .active {
      background-color: $secondary;
    }
  }
  .carouselNextPreviousBtn {
    display: none;
  }
}

.carouselImgContain {
  position: relative;
  .carouselBtn {
    transition: background-color 0.3s;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    .playVideoCarousel {
      padding-left: 5px;
      color: white;
      font-size: 2rem;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

.blankBackground {
  // display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.ytbLink {
  // display: none;
  transition: all 0.5s;
  z-index: 3;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 95%;
  max-width: 800px;

  height: fit-content;
  background-color: #ffff;

  .ytbTitle {
    position: relative;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid $fontLight;
    p {
      margin: 0;
    }
    button {
      position: absolute;
      top: 15px;
      right: 15px;
      padding-left: 20px;
      &:hover {
        cursor: pointer;
      }
    }

    .ytbXmark {
      color: $fontLight;
    }
  }
  .ytbLinkWrapper {
    padding: 15px;
    height: 300px;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and(min-width: $ipadWidth) {
  .onTrailer {
    visibility: unset;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  .offTrailer {
    visibility: hidden;
    transform: translate(-50%, -80%);
    opacity: 0;
  }

  .carouselImgContain {
    position: relative;
    .carouselBtn {
      width: 90px;
      height: 90px;
    }
  }
  .ytbLink {
    top: 50%;

    .ytbLinkWrapper {
      height: 500px;
    }
  }
}

@media screen and(min-width: $mediumWidth) {
  #carouselExampleIndicators {
    .carousel-indicators {
      display: flex;
    }
    .carouselNextPreviousBtn {
      display: block;
    }
  }
}
