@import '../../../../assets/scss/_default.scss';

.sideMovies {
  h3 {
    line-height: 2.5rem;
    display: inline-block;
    font-size: 1.13rem;
    &::after {
      display: block;
      content: '';
      height: 2px;
      width: 40%;
      background-color: $secondary;
    }
  }

  .sideMoviesContain {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    .moviesEach {
      height: 200px;
      text-decoration: none;
      color: $fontDark;
      box-sizing: border-box;
    }

    img {
      height: 72%;
      width: 100%;
    }

    p {
      text-transform: uppercase;
      height: 28%;
      display: block;
      margin: 0;
      font-size: 0.875rem;
    }
  }
  .containXemThem {
    text-align: right;
    font-size: 0.75rem;

    button,
    .arrowRight {
      color: $secondary;
    }

    button {
      margin-top: 50px;
      border: 1px solid $secondary;
      padding: 10px;
    }
    .arrowRight {
      margin-left: 5px;
    }
  }
}
@media screen and(min-width: $mediumWidth) {
  .sideMovies {
    .sideMoviesContain {
      .moviesEach {
        height: 300px;
      }
      p {
        font-size: 1rem;
      }
    }

    .containXemThem {
      button {
        font-size: 0.875rem;
        padding: 10px 15px;
      }
    }
  }
}

@media screen and(min-Width: $windowWidth) {
  .sideMovies {
    .sideMoviesContain {
      .moviesEach {
        height: 100%;
        img {
          height: 93%;
        }
        p {
          height: 7%;
        }
      }
    }
  }
}
