@import '../../../../assets/scss/default';

.formSignUp {
  padding-top: 20px;
  input {
    display: block;
    margin: 20px auto 0;
    width: 100%;
    max-width: 100%;
    position: relative;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #ced0da;
    color: $fontDark;
    padding: 10px;
    &:focus {
      border: 1px solid $fontLight;
    }

    &::placeholder {
      color: $fontLight;
      font-weight: 400;
    }
  }
  .errorInput {
    border: 1px solid red;
  }
  .inputError {
    margin: 0;
    color: red;
    font-size: 0.8rem;
  }

  .passwordContain {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    div {
      height: fit-content;
      width: 48%;
    }
    input {
      margin-top: 20px;
      width: 100%;
      max-width: 100%;
    }
  }
  .SignUpSubmit {
    margin: 30px 0 10px;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #ffffff;
    padding: 11px;
    background-color: $secondary;
    text-decoration: none;
    line-height: 1;
    width: 100%;
    letter-spacing: 1px;
  }
}

@media screen and(min-width: $ipadWidth) {
  .formSignUp {
    .SignUpSubmit {
      padding: 15px;
      font-size: 0.875rem;
    }
  }
}
