@import '../../../../assets/scss/default';

.headerContain {
  background: #f7f9fa;
}

.extendingInput {
  position: relative;
  input {
    padding: 6px 25px 6px 10px;
    transition: width 0.3s;
    width: 250px;
    border: 1px solid #ced0da;
    &:focus {
      border: 1px solid $fontLight;
    }
    &::placeholder {
      color: $fontLight;
    }
  }

  .magnifying {
    color: $fontLight;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

.activeDropDown {
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  width: 100vw;
  background-color: #fff;
}
.activeUlDrop {
  display: normal;
}

.deactiveUlDrop {
  display: none;
}

.myNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logoContain {
    padding: 10px 0;
    width: 7.7rem;
    a {
      display: block;
    }
    img {
      width: 100%;
    }

    .navLogo {
      display: none;
    }
  }
  .mainSearchMovieBox {
    .mainSearchMovie {
      display: none;
      @extend .extendingInput;
    }
    .listMovieSearch {
      position: relative;
      .noneDisplay {
        display: none;
      }
      ul {
        border: 1px solid $fontLight;
        z-index: 2;
        position: absolute;
        top: 0;
        .linkTo {
          color: $fontDark;
          text-decoration: none;
          transition: color, 0.3s;
          &:hover {
            color: $secondary;
          }
        }
        li {
          white-space: nowrap;
          overflow: hidden;
          border-bottom: 1px dotted $fontLight;
          position: relative;
          font-size: 0.875rem;
          width: 250px;
          padding: 5px 10px;
          background-color: #fff;

          &::after {
            display: block;
            content: '';
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translateY(-50%);
            height: 80%;
            width: 2px;
            background: $secondary;
          }
        }
      }
    }
  }

  .navbarRight {
    z-index: 1;

    display: flex;
    align-items: center;

    .navLogin {
      font-weight: 400;
      padding: 15px 0;
      color: $fontLight;
      transition: color 0.3s;
    }

    .signOutBtn {
      background-color: transparent;
      border: none;
      color: $fontLight;

      &:hover {
        transition: color, 0.3s;
        color: $secondary;
      }
      &:focus {
        box-shadow: none;
        color: $secondary;
      }

      .userIcon {
        color: $secondary;
        margin-right: 30px;
        font-size: 1.5rem;
      }
    }

    .dropDownUser {
      padding: 0;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      background: #fff;

      .user {
        letter-spacing: 1px;
        width: 100%;
        display: inline-block;
        padding: 12px 20px;
        transition: all, 0.3s;
        text-decoration: none;
        text-align: left;
        font-size: 0.75rem;
        color: $fontLight;

        &:hover {
          color: $secondary;
          cursor: pointer;
        }
      }
    }

    .dropDownMenu {
      button .NavBtn {
        // margin: 20px 20px 0 0;
        padding: 10px 15px;
        font-size: 1.6rem;
        color: $fontLight;
        z-index: 5;
      }
      button .xMark {
        font-size: 2rem;
      }
      ul {
        li {
          text-decoration: none;
          color: $fontLight;
          margin: 20px;
          .navLink {
            display: inline-block;
            width: 100%;
            font-size: 0.9rem;
            font-weight: 600;
            padding: 5px 0;
            color: $fontLight;
            text-decoration: none;
            transition: all 0.3s;
            &:hover {
              color: $secondary;
            }
          }
        }

        .searchMovieInput {
          margin-right: 20px;
          @extend .extendingInput;
        }
      }
    }
  }
}

.navLinkWindowScreen {
  display: none;
}

@media screen and(min-width: $ipadWidth) {
  .myNavbar {
    .logoContain {
      width: 250px;
      .navLogoMobile {
        display: none;
      }

      .navLogo {
        display: inline;
      }
    }
  }
}

@media screen and(min-width: $mediumWidth) {
  .myNavbar {
    .logoContain {
      width: 350px;
    }
    .mainSearchMovieBox {
      .mainSearchMovie {
        display: block;
      }
    }
    .navbarRight {
      .signOutBtn {
        span {
          margin-right: 30px;
        }
        .userIcon {
          margin-right: 5px;
        }
      }
    }
  }
}

@media screen and(min-width: $windowWidth) {
  .myNavbar {
    .logoContain {
      width: 430px;
    }
    .mainSearchMovieBox {
      .mainSearchMovie {
        margin-right: 200px;
      }
    }

    .navbarRight {
      .navLogin {
        margin-right: 40px;
      }

      .dropDownMenu button {
        display: none;
      }
    }
  }
  .navLinkWindowScreen {
    display: block;
    background-color: $primaryDark;
    text-align: center;
    li {
      // padding: 10px 20px;
      display: inline-block;
      .extendingSomething::before {
        box-sizing: border-box;
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        display: inline-block;
        width: 1px;
        height: 15px;
        background: white;
      }

      .extendingNavLink {
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 15.5px 0;
        font-size: 0.94rem;
        width: 175px;
        font-weight: 500;
        position: relative;
        transition: all 0.3s;
        &:hover {
          color: $secondary;
        }
      }
      .navLink1 {
        @extend .extendingNavLink;
        @extend .extendingSomething;
      }
      .navLink2 {
        @extend .extendingNavLink;
        @extend .extendingSomething;
      }
      .navLink3 {
        @extend .extendingNavLink;
      }
    }
  }
}
