* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body button {
  background: transparent;
  border: none;
}

body button:hover {
  cursor: pointer;
}

body button:focus {
  outline: none;
}
body input:focus {
  outline: none;
}
