html * {
  font-family: 'Roboto', sans-serif !important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html button {
  background: transparent;
  border: none;
}

html button:hover {
  cursor: pointer;
}

html button:focus {
  outline: none;
}
html input:focus {
  outline: none;
}
