@import '../../../assets/scss/default';
.adminTemplate {
  display: flex;
  .sideBarContain {
    display: none;
  }
}

@media screen and(min-width: $mediumWidth) {
  .adminTemplate {
    display: flex;
    .sideBarContain {
      display: block;
      height: 100%;
    }
  }
}
